 Failure to follow the rules leaves your fate at the discretion 
 of the Administator who judicates the situation.....

 1. "Users are responsible for knowing the rules", failure to read this
    file is no excuse for not knowing the rules, as everyone is warned.
 2. Players logged in here will show proper respect for Admin and Players.
 3. All rules will be followed whenever connected, regardless if you're
    not playing, or using channels, boards, mailing or sending tells.
 4. Players will not cheat or abuse bugs. ("help cheating" for details).
 5. Multiplaying/multicharacters are illegal ("help multiplaying")
 6. Players will not spam with tells, channels, emotes etc. ("help spam")
 7. Players must retain some control of their players. ("help control")
 8. Players will not violate the player killing policy ("help pk")
 9. Players are required to have a valid email. ("help email") 
10. Trading, sharing, selling, or giving away characters is forbidden.
11. The Admins will banish players that cause constant problems.

 Related documents, 'help newbie', 'help information', 'help quests',
                    'help pk', 'help zap'
 

